{% extends "layout.html" %}
{% block title %}
    Assign Product Owners
{% endblock %}
{% block content %}
    <h2 class="titleHeader">Edit Application's Product Owner(s)</h2>
    <form method="POST" action="/editApp/">
    {{ form.csrf_token }}
        <p>
            <b>{{ form.app.label }}</b>
        </p>
        {{ form.app }}

        {% if form.app.errors %}
            <ul class="errors">
                {% for error in form.app.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="productOwnersLabel">
            <p>
                <b>{{ form.current_product_owners.label }}</b>
            </p>
        </div>
        {{ form.current_product_owners }}

        {% if form.current_product_owners.errors %}
            <ul class="errors">
                {% for error in form.current_product_owners.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="productOwnersLabel">
            <p>
                <b>{{ form.users.label }}</b>
            </p>
        </div>
        {{ form.users }}

        {% if form.users.errors %}
            <ul class="errors">
                {% for error in form.users.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="productOwnersSubmitButton">
            <p>
                <input type="submit" value="Save" class='btn btn-primary'>
            </p>
        </div>
    </form>

{% endblock %}